body {
    background-color: skyblue;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 500px;
    padding: 0;
    margin: 0;
    color: #ff4da6;
}
body {
    --s: 25vmin;
    --p: calc(var(--s) / 2);
    --c1: pink;
    --c2: dodgerblue;
    --c3: white;
    --bg: var(--c3);
    --d: 4000ms;
    --e: cubic-bezier(0.76, 0, 0.24, 1);
    
    background-color: var(--bg);
    background-image:
      linear-gradient(45deg, var(--c1) 25%, transparent 25%),
      linear-gradient(-45deg, var(--c1) 25%, transparent 25%),
      linear-gradient(45deg, transparent 75%, var(--c2) 75%),
      linear-gradient(-45deg, transparent 75%, var(--c2) 75%);
    background-size: var(--s) var(--s);
    background-position: 
      calc(var(--p) *  1) calc(var(--p) *  0), 
      calc(var(--p) * -1) calc(var(--p) *  1), 
      calc(var(--p) *  1) calc(var(--p) * -1), 
      calc(var(--p) * -1) calc(var(--p) *  0);
    animation: 
      color var(--d) var(--e) infinite,
      position var(--d) var(--e) infinite;
  }
  
  @keyframes color {
    0%, 25% {
      --bg: var(--c3);
    }
    26%, 50% {
      --bg: var(--c1);
    }
    51%, 75% {
      --bg: var(--c3);
    }
    76%, 100% {
      --bg: var(--c2);
    }
  }
  
  @keyframes position {
    0% {
      background-position: 
        calc(var(--p) *  1) calc(var(--p) *  0), 
        calc(var(--p) * -1) calc(var(--p) *  1), 
        calc(var(--p) *  1) calc(var(--p) * -1), 
        calc(var(--p) * -1) calc(var(--p) *  0);
    }
    25% {
      background-position: 
        calc(var(--p) *  1) calc(var(--p) *  4), 
        calc(var(--p) * -1) calc(var(--p) *  5), 
        calc(var(--p) *  1) calc(var(--p) *  3), 
        calc(var(--p) * -1) calc(var(--p) *  4);
    }
    50% {
      background-position: 
        calc(var(--p) *  3) calc(var(--p) * 8), 
        calc(var(--p) * -3) calc(var(--p) * 9), 
        calc(var(--p) *  2) calc(var(--p) * 7), 
        calc(var(--p) * -2) calc(var(--p) * 8);
    }
    75% {
      background-position: 
        calc(var(--p) *  3) calc(var(--p) * 12), 
        calc(var(--p) * -3) calc(var(--p) * 13), 
        calc(var(--p) *  2) calc(var(--p) * 11), 
        calc(var(--p) * -2) calc(var(--p) * 12);
    }
    100% {    
      background-position: 
        calc(var(--p) *  5) calc(var(--p) * 16), 
        calc(var(--p) * -5) calc(var(--p) * 17), 
        calc(var(--p) *  5) calc(var(--p) * 15), 
        calc(var(--p) * -5) calc(var(--p) * 16);
    }
  }
  
  @media (prefers-reduced-motion) {
    body {
      animation: none;
    }
  }
.instruction {
    margin-top: 160px;
    padding: 25px 5px;
    align-items: left;
    text-align: center;
    border-radius: 8px;
    font-size: 40px;
    display: inline-block;
    justify-content: left;
    width: 700px;
    height: 590px;
    background-color: black;
}

#contact {
    color: #4bd378;
    font-size: 50px;
    padding: 10px;
}

input {
    width: 580px;
    float: left;
    padding: 22px 20px;
    align-items: left;
    justify-content: left;
    ;
    margin: 22px 45px;
    box-sizing: border-box;
    border-radius: 4px;
}

textarea {
    align-items: center;
    justify-content: center;
    margin: 18px 45px;
    width: 540px;
    float: left;
    padding: 22px 20px;
    border-radius: 4px;
}

#send {
    justify-content: center;
    align-items: center;
    display: flex;
    color: #fff;
    font-size: 25px;
    width: 150px;
    height: 50px;
    background-color: rgb(87, 181, 209);
    margin-top: 50px;
    align-items: center;
    margin-left: 260px;
    border-radius: 8px;
    transition: .5s ease background-color;
}

#send:hover {
    background-color: #42e6a1;
}

#status {
    margin-top: 30px;
    color: #23d5ab;
    font: size 25px;
    text-align: center;
}