body {
    background-color: skyblue;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 1000px;
    padding: 0;
    margin: 0;
    color: #ff4da6;
}

.instruction {
    margin-top: 160px;
    padding: 25px 5px;
    align-items: left;
    text-align: center;
    border-radius: 8px;
    font-size: 40px;
    display: inline-block;
    justify-content: left;
    width: 700px;
    height: 590px;
    background-color: black;
}

#contact {
    color: #4bd378;
    font-size: 50px;
    padding: 10px;
}

input {
    width: 580px;
    float: left;
    padding: 22px 20px;
    align-items: left;
    justify-content: left;
    ;
    margin: 22px 45px;
    box-sizing: border-box;
    border-radius: 4px;
}

textarea {
    align-items: center;
    justify-content: center;
    margin: 18px 45px;
    width: 540px;
    float: left;
    padding: 22px 20px;
    border-radius: 4px;
}

#send {
    justify-content: center;
    align-items: center;
    display: flex;
    color: #fff;
    font-size: 25px;
    width: 150px;
    height: 50px;
    background-color: rgb(87, 181, 209);
    margin-top: 50px;
    align-items: center;
    margin-left: 260px;
    border-radius: 8px;
    transition: .5s ease background-color;
}

#send:hover {
    background-color: #42e6a1;
}

#status {
    margin-top: 30px;
    color: #23d5ab;
    font: size 25px;
    text-align: center;
}